:root{
  --main-color: #f7ccca;
  --main-bg-color: #d8d1e1;
  --main-text-color: white;
}
.App {
  text-align: center;
}
body{
  font-family: 'nanumsquare';
}
.modal{
  width: 75rem;
  margin: 4rem;
  padding: 5rem;
  background: var(--main-bg-color);
  border-radius: 2rem;
}
.nav{
  display: flex;
  background: var(--main-color);
  width: 100%;
  color: var(--main-text-color);
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.input{
  margin-top: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 5rem;
  border: none;
}
.button{
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin: 2rem 2px;
  cursor: pointer;
  border-radius: 1rem;
  width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
  ,0 6px 20px 0 rgba(0,0,0,0.19);
}
.textLink{
  border: none;
  background-color: var(--main-bg-clolor);
  color: white;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.button:hover{
  background: #ff9f9f;
  color:white;
}
.list{
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
